body {
    background-image: url(./assets/parchment-background.jpg)
}

.mainFont {
    font-family: 'Henny Penny', cursive;
    font-size: 3em;
}

.bodyFont {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.teamName {
    font-family: 'Henny Penny', cursive;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 4em;
}

.teamMotto{
    font-family: 'Ubuntu', sans-serif;
    display: block;
    position: relative;
    text-align: center;
}

.motto {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    position: relative;
    text-align: center;
}

h2 {
    font-family: 'Henny Penny', cursive;
}

p {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

#profile {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.source {
    display: block;
    position: relative;
    text-align: center;
    font-size: 1.5em;
}
